@import './reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--color-white: #fbfbfb;
	--color-black: #191a15;
	--color-gray: #191a150d;

	--color-green: #54be96;
	--color-green-light: #54be9633;
	--color-green-hover: #36a379;

	--color-blue: #3470ff;
	--color-blue-light: #3470ff33;

	--color-transparent: rgba(0, 0, 0, 0);

	--color-orange: #231104;
	--color-orange-light: #fc832c33;

	--color-text: #191a15;

	--color-border-header: #191a151a;
	--color-border-button: #191a1533;
}

body {
	font-family: 'Inter-Regular', sans-serif;
	margin: 0 auto;
}
