@import './reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-white: #fbfbfb;
	--color-black: #191a15;
	--color-gray: #191a150d;

	--color-psychologist-page-background: #f3f3f3;

	--color-green: #54be96;
	--color-green-light: #54be9633;
	--color-green-hover: #36a379;
	--color-green-price: #38cd3e;

	--color-blue: #3470ff;
	--color-blue-light: #3470ff33;

	--color-transparent: rgba(0, 0, 0, 0);

	--color-orange: #231104;
	--color-orange-light: #fc832c33;

	--color-text: #191a15;

	--color-border-green: #54be96;
	--color-border-green-hover: #36a379;

	--color-border-header: #191a151a;
	--color-border-button: #191a1533;

	--font-family-regular: 'Inter-Regular';
	--font-family-medium: 'Inter-Medium';
	--font-family-bold: 'Inter-Bold';
	--font-family-semibold: 'Inter-SemiBold';
	--font-family-semibold-italic: 'Inter-SemiBoldItalic';
}

@font-face {
	font-family: 'Inter-Regular';
	src: url(../../fonts/Inter-Regular.ttf);
}

@font-face {
	font-family: 'Inter-Medium';
	src: url(../../fonts/Inter-Medium.ttf);
}

@font-face {
	font-family: 'Inter-Bold';
	src: url(../../fonts/Inter-Bold.ttf);
}

@font-face {
	font-family: 'Inter-SemiBold';
	src: url(../../fonts/Inter-SemiBold.ttf);
}

@font-face {
	font-family: 'Inter-SemiBoldItalic';
	src: url(../../fonts/Inter-SemiBoldItalic.otf);
}

body {
	font-family: 'Inter-Regular';
	margin: 0 auto;

	overflow-x: hidden;
}
