.icon-wrapper {
	position: relative;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.icon-eye,
.icon-eye-off {
	width: 20px;
	height: 20px;
	fill: transparent;
	stroke: var(--color-text);
	position: absolute;
	transition: opacity 0.3s ease;
}

.icon-eye.hidden,
.icon-eye-off.hidden {
	opacity: 0;
}
